@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Jua&family=Roboto&family=Fleur+De+Leah&family=DM+Serif+Text:ital@0;1&display=swap');

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Jua", sans-serif;
  font-size: 16px;
  color: rgba(29, 41, 29, 0.8);
}

#app {
  width: 100%;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, li, button {
  font-family: "DM Serif Text", serif;
}

a {
  all: unset;
  cursor: pointer;
  font-style: italic;
}

